.prebuild-bg {
    background-image: url('/images/Pre-build/bg.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    overflow: hidden;
}